div.Input {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 15px;
}

div.Input input {
  outline: none;
  border: none;
  padding: 10px 10px;
  border-radius: 3px;
  color: var(--grey-200);
  background: var(--dark);
  font-size: 0.95rem;
  width: 100%;
  transition: all ease 0.3s;
}

div.Input input::placeholder {
  color: var(--grey-400);
  font-size: 0.95rem;
}

div.Input input:focus {
  background: var(--grey-800);
}

div.Input input:hover {
  background: var(--grey-800);
}

label.Label {
  color: var(--grey-300);
  margin-bottom: 5px;
}

button.AddField {
  outline: none;
  border: none;
  background: var(--grey-400);
  color: var(--greyish);
  padding: 2px 5px;
  border-radius: 3px;
  transition: all ease 0.2s;
  cursor: pointer;
}

button.AddField:hover {
  background: var(--grey-400);
  color: var(--grey-200);
}

div.FieldContainer {
  width: 100%;
  position: relative;
}

div.FieldContainer:not(:last-child) input.Field {
  margin-bottom: 7px;
}

div.FieldContainer input.Field {
  padding-right: 40px;
}

div.FieldContainer svg {
  width: 15px;
  position: absolute;
  right: 10px;
  top: 9px;
  fill: var(--grey-400);
  cursor: pointer;
  transition: all ease 0.2s;
}

div.FieldContainer svg:hover {
  fill: var(--grey-300)
}