header.Header {
  width: 100%;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 500px) {
  header.Header {
    margin-top: 35px;
    flex-direction: column-reverse;
    top: 0;
  }

  header.Header svg {
    margin-top: 20px;
  }
} 