:root {
  --light-orange: #F99A8B;
  --orange: #FF8470;
  --dark-orange: #B75444;
  --brown: #2C1713;

  --white: #F3F4F8;
  --grey-100: #D4D8E7;
  --grey-200: #C7C9CD;
  --grey: #B2B7CC;
  --greyish: #8F96B1;
  --grey-300: #8493a7;
  --grey-400: #404955;
  --grey-500: #333a44;
  --grey-600: #282d35;
  --grey-700: #1C2027;
  --grey-800: #171a1f;
  --dark: #13151a;
  --black: #0e1013;
} 