:root {
  --light-orange: #F99A8B;
  --orange: #FF8470;
  --dark-orange: #B75444;
  --brown: #2C1713;

  --white: #F3F4F8;
  --light-grey: #D4D8E7;
  --grey: #B2B7CC;
  --greyish: #8F96B1;

  --little-grey: #333a44;
  --medium-grey: #282d35;
  --dark-grey: #1D2127;
  --dark: #13151a;
  --black: #0e1013;
} 